# MongoDB
MONGODB_URL=mongodb://mongodb:27017/frauddb?replicaSet=rs0
MONGODB_DATABASE=fraud_db

# RabbitMQ
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USER=your_user
RABBITMQ_PASSWORD=your_password
RABBITMQ_HEARTBEAT=60

# RabbitMQ Full URL
RABBITMQ_URL=amqp://user:password@rabbitmq:5672/