fastapi==0.115.0
uvicorn==0.32.0
pymongo==4.10.1
pika==1.3.2
motor==3.7.1
pydantic-settings==2.4.0
aio_pika==9.6.2
python-dotenv==1.0.1

# OpenTelemetry core
opentelemetry-sdk==1.24.0
opentelemetry-api==1.24.0

# Exportador OTLP (manda para o collector)
opentelemetry-exporter-otlp-proto-grpc==1.24.0

# Instrumentação automática FastAPI + requests HTTP
opentelemetry-instrumentation-fastapi==0.45b0
opentelemetry-instrumentation-httpx==0.45b0

# Propagação de contexto (W3C traceparent)
opentelemetry-propagator-b3==1.24.0

opentelemetry-instrumentation-pymongo
opentelemetry.instrumentation.aio_pika

# Framework de Testes
pytest>=7.4
pytest-asyncio>=0.21
pytest-mock>=3.11
pytest-cov>=4.1

# Utilidades de Teste
freezegun>=1.2 # Controle de data/hora para testes com timestamps
mongomock>=4.1   

# Tipos e Validação
mypy>=1.4  