# ASP.NET
ASPNETCORE_ENVIRONMENT=Development
ASPNETCORE_URLS=http://+:80

# SQL SERVER
DB_SERVER=sqlserver,1433
DB_NAME=OrderDb
DB_USER=sa
DB_PASSWORD=your_password

# Connection String
ConnectionStrings__DefaultConnection=Server=sqlserver,1433;Database=OrderDb;User Id=sa;Password=your_password;TrustServerCertificate=True;Encrypt=False;

# RabbitMQ
RabbitMq__Host=rabbitmq
RabbitMq__Port=5672
RabbitMq__Username=your_user
RabbitMq__Password=your_password

# Exchanges
RabbitMq__OrderEventsExchange=order.events

# Routing Keys
RabbitMq__OrderCreatedRoutingKey=order.created

# OTEL COLLECTOR
Observability:OtlpEndpoint=http://otel-collector:4317